.container
  h1 Hello, {{user.name}}
  //-.col-md-12
      | This is the sessionkeep view.
  //-form
    | Location:
    | &nbsp
    input(ng-model="practice_location", type="text", name="location")
  h5 Practicing status: {{is_practicing}}
  .btn.btn-success(ng-show="!is_practicing", ng-click="start_session()") Start Session
  .btn.btn-danger(ng-show="is_practicing", ng-click="stop_session()") Stop Session

.container
  h4 Session Feed
    ul
      li(ng-repeat="session in sessions")
        | {{session.user.name}}
        | sessioned from
        | &nbsp
        span.session-date {{session.start_time | date : 'medium'}}
        | &nbsp
        | to
        | &nbsp
        span.session-date {{session.stop_time | date : 'medium'}}
        | .

